# Object files
*.o
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Debug symbols on OS X
*.dSYM

# Sublime
*.sublime-project

# Vim
*.un~

# DAMMIT KYLE!
*.crf
*.axf
*.plg # build log for kyle
*.sct
*.tra
*.uvgui*
*.dep
*.bak
*.uvopt
*.__i

# TODO: verify
*.lnp