# Object files
*.o
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Debug symbols on OS X
*.dSYM

# Sublime
*.sublime-project
*.sublime-workspace

# Vim
*.un~

# DAMMIT KYLE!
*.lst
*.crf
*.axf
*.plg
*.sct
*.tra
*.uvgui*
*.dep
*.bak
*.__i
*.iex
kernel.htm
kernel.map
*.lnp
